# Ignore generated NPM files
# These are sometimes included but not necessary for this project
package-lock.json
node_modules/

# Ignore generated Maven build files
target/

# Ignore editor config
.idea

# Ignore API keys
keys/meltingpot-step-2020-firebase-adminsdk-jfz0g-f79f87476e.json
keys/meltingpot-step2020-91a60ee70597.json

# Ignore React build folder
build/